<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        # Console appender
        <Console name="stdout" target="SYSTEM_OUT">
            # Pattern of log message for console appender
            <PatternLayout pattern="%d{HH:mm:ss} %p %m%n" />
        </Console>

        # Rolling appender
        <RollingFile name="roll-by-time" fileName="log/app.log" filePattern="log/app.%d{MM-dd-yyyy}.log.gz" ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %c %m%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <AsyncRoot level="DEBUG">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="roll-by-time"/>
        </AsyncRoot>
    </Loggers>
</Configuration>